body {
    display: grid;
    grid-template-areas: 
        "cabeca cabeca cabeca"
        "braco corpo corpo"
        "perna perna perna";
    grid-template-rows: 200px auto 150px;
    grid-template-columns: 200px auto auto;
}

header {
    grid-area: cabeca;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header_container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "logo titulo nada";
}

.header {
    grid-area: titulo;
}

.logo {
    height: 200px;
    width: auto;
}

header h1 {
    font-size: xx-large;
}

header h2 {
    font-size: x-large;
}

header h3 {
    font-size: medium;
}

aside {
    grid-area: braco;
    background-color: #93c2ff;
}

main {
    grid-area: corpo;
    background-color: #ffb8db;
}

footer {
    grid-area: perna;
    background-color: #2f76d3;
}

.card {
    border: black 2px solid;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

.mae {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_card {
    width: 300px;
    height: auto;
}

.texto_card {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: x-large;
}

.preco_card {
    color: black;
    font-size: xx-large;
}